
<div class="container">
        <h2 style="text-align: center">customer-reviews</h2><br>
  <div class="row customer-reviews">
    <div class="col-md-6 column">  
          <div class="inner-box">
            <h3><i class="fa fa-user"></i> Aronpro Customer <span class="verified">(Verified Purchase)</span></h3>
            <p class="date">14 June</p>
           <p class="text-justify">My wife and I were able to enjoy again after the first time I used it
            It worked really well for me. I am 7 weeks post prostatectomy, no results from medicines. My Friends Suggested me you can use this ED Device Then I use Aronpro Erection System My wife and I were able to enjoy ED Pump results after the first time I used it.
          </p>
          </div>
    </div>
    <div class="col-md-6 column">
      <div class="inner-box">
        <h3><i class="fa fa-user"></i> Aronpro Customer <span class="verified">(Verified Purchase)</span></h3>
          <p class="date">26 April</p>
          <p class="text-justify">This Erectile Dysfunction pump works! My husband and I are extremely happy with it. We wanted to try it because my husband didn't want to take medication. We are so glad he did. He's amazed at how simple and easy it is to use and how it gives him a very substantial erection. It has renewed our sex life. We like it and highly recommend it.</p>
      </div>
    </div>  
    <div class="col-md-6 column">
      <div class="inner-box">
          <h3><i class="fa fa-user"></i> Aronpro Customer <span class="verified">(Verified Purchase)</span></h3>
          <p class="date">18 March</p>
          <p class="text-justify">I'm 25 and have bad anxiety about sex that causes some things to not work right and that has caused many problems growing up. Wellbeing my age I tend to be drunk when the opportunity arises so that rules out Viagra and other pills that are not even guaranteed to work. With this product I can achieve 100% results in less than 1minute whenever I need it, it hasn't let me down 1 time.</p>
      </div>
    </div>  
  </div>
</div>