
<div class="container">
        <div class="jumbotron">
                <h4 class="display-6" style="color:cornflowerblue">AUTOMATED INVOICE PROCESSING</h5><br>
                <h3 class="display-6" style="color:cornflowerblue">Easily Manage Invoices</h3><br>
                <div class="display-10">
                        <p style="color:cornflowerblue">Save time and money with automated</p>
                        <p style="color:cornflowerblue">invoice processing, payments and more.</p>
                </div>          
                <div class="col-md-12" >
                        <div class="col-md-12">
                                <form class="form-inline">
                                        <input class="form-control mr-sm-2" type="email" ng-model="txtEmail" name="eid" placeholder="you@email.com">
                                        <button class="btn btn-warning" ng-click="addEmails()" type="submit">Get a Demo</button>
                                        <img style="float: right; padding: 50px;" src="/img/logo.JPG" alt="Stay Bless" width="25%"/>
                                </form>                               
                        </div><br><br>
                </div>
        </div>
</div>
