
<section id="contact">
  <div class="container">
      <h3 class="text-center text-uppercase">contact us</h3>
      <p class="text-center w-75 m-auto">The engineering backend of Silicon Valley. 
        We partner with incredible startups to code products that will change the world.<br>
        We are based in Bangalore, India. Whatever may be the reason, if you like to reach us-<br>
        Please send us a detail email, with your contact details, and we will get back to you as soon as possible!<br><br>
        contact@fullthrottlelabs.com</p>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">call us</h4>
            <p>+918238888843, +918238888843</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">office loaction</h4>
            <address>3rd Floor, Padmavathi Complex,
              Nanjappa Reddy Layout, Koramangala 8th Block,
              Koramangala, Bengaluru, Karnataka 560095 </address>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">office loaction</h4>
            <address>4th Cross Street, #310, 17th Main Road,
              n s palya, 2nd stage, BTM layout,
              Bengaluru, Karnataka 560078 </address>
           </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">email</h4>
            <p>ahir.ankit93@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>